@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1561029565774'); /* IE9 */
  src: url('iconfont.eot?t=1561029565774#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALkAAsAAAAABowAAAKWAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBGIEsATYCJAMICwYABCAFhG0HLxvRBcgekiRQQM8IEUoVAJhHBNFcVT2Z7OWIwB//O0DP6oVETST8GwEkPAlHRuT/1to/8YjZJPCzhFtymdkbVt/sHGJemlY8eztJ0IiETNcDGGn845ivS6CB5LubzyUjORJwYNMBRjbZRvLJ/zB2gUvYTqDFhHyGk/rWDrDLrH6BuEuFUbDnnLLMIpXQqJmaIV6CRZV2jZ/Ai/D38Z8/7CApC7ByLtypm4DKP8yOKVb+Vwz4CHCBgGaXKLAGZOJKbfAck2A4k5ag2QzYV2bwh9W1rxZ7VQj2r7PS28AYZN4Ty2XfanoCOW7eBM6Oehapf/PhcOejUMf7vZVIxBD92f0kXPY5WvX4tXDuYm8g8+HdGWqgeBTufLc/uJQh8iPnu2vBeHwZ28LD793yaumqR4t0QmwXY+8Z84/W1twjXtKb0tK3E7fT05rShwzKJiiXLz+vpoOxQUzD+nYK/jOVADXTpckFgeDD2nR4uLOU3WUG+O17+hzaa2boZ6Y6kyn4Y6yeVVnnWKqUVVatOdkc1TehRQvqsLXHz1hp/+1FQ6X/Js1NxlMoVOaQGbsGpVZ70FDZhxarGma36sWYRHYAKzYBhC63kHT4DIUuX8iM/YbSgD9o6AoTtLgWMUu2WgjqrGF4lOMJNDaL6LiqEEfDnVFmGxaC0ijLckJ8F2Y69SCf21uMNGAFszlG6FOCn3OCCFNlVA92w5KkIo2pk3icuwOca8UeD6n7kHtclcHpGION4rAJyJhZCDVOpSB+Y85Z+n4bTBAkGcVa8mrUXTBGR1tHfNy8PZANQqVX3r3copsi8OM4AiEYlQypB50wiUSFaPWdJmHjOLfACL+mmMeuR/oK3euL5Q/IYEVYshR2GxOU1+kMVQAAAAA=') format('woff2'),
  url('iconfont.woff?t=1561029565774') format('woff'),
  url('iconfont.ttf?t=1561029565774') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1561029565774#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e872";
}

